{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Signup Form</title>
		<!-- Custom Theme files -->
		<link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/signup_style.css' %}"/>
		<!-- for-mobile-apps -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<!-- font-awesome icons -->
		<link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}"/>
		<!--Google Fonts-->
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	</head>
	<body>
		<div class="wthree-dot">
			<h1>Signup Form</h1>
			<div class="profile">
				<div class="wrap">
					<div class="wthree-grids">
						<div class="content-left">
							<div class="content-info">
								<h2>Brief History About Us</h2>
								<div class="slider">
									<div class="callbacks_container">
										<ul class="rslides callbacks callbacks1" id="slider4">
											<li>
												<div class="w3layouts-banner-info">
													<h3>The Team</h3>
													<p>We are a group of CS students from Hunter College, who are enthusiastic about technology and want to make positive impact on society. </p>
												</div>
											</li>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
								<div class="agileinfo-follow">
									<h4>Sign Up with</h4>
								</div>
								<div class="agileinfo-social-grids">
									<ul>
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
									</ul>
								</div>
								<div class="agile-signin">
									<h4>Already have an account <a href="/login">Sign In</a></h4>
								</div>
							</div>
						</div>
						<div class="content-main">
							<div class="w3ls-subscribe">
								<h4>New Customer?</h4>
								<form action="/" method="post">
									{% csrf_token %}
									<small style="color: white">{{ form.username.label }}</small>
									{{ form.username }}
									<small style="color: white">{{ form.email.label }}</small>
									{{ form.email }}
									<small style="color: white">{{ form.password1.label }}</small>
									{{ form.password1 }}
									<small style="color: white">{{ form.password2.label }}</small>
									{{ form.password2 }}
									<input type="submit" value="Sign Up">
								</form>
							</div>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="wthree_footer_copy">
					</div>
				</div>
			</div>
		</div>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager:true,
				nav:false,
				speed: 400,
				namespace: "callbacks",
				before: function () {
				$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
			});
		
			});
		</script>
	</body>
</html>