{% extends "Home/base.html" %}
{% load staticfiles %}

{% block content %}
<script>
function hit_endpoint(view) {
	httpRequest = new XMLHttpRequest();
	const pk = "{{ event.pk }}";
	const url = "/play/" + pk + "/" + view;

	if (!httpRequest) {
		alert('Giving up :( Cannot create an XMLHTTP instance');
		return false;
	}

	{#httpRequest.onreadystatechange = responseHandler;#}
	{#httpRequest.open('GET', url);#}
	{#httpRequest.send();#}
	fetch(url).then(function (res) {
        if(view == 'add' ){
            document.getElementById('something').innerText = 'Successfully joined'
        } else if(view == 'remove'){
            document.getElementById('something').innerText = 'Successfully left game'
        }
        button = document.getElementById('addremove');
        if(view == 'add'){
            button.value = 'remove'
            button.innerText = 'Leave Game'
        }
        else if (view == 'remove'){
            button.value = 'add'
            button.innerText = 'Join Game'
        }
        if (view == 'add_all'){
            document.getElementById('admin').innerText = 'Successfully add all players'
        }
        else if (view == 'begin'){
            document.getElementById('admin').innerText = 'Event has been started'
        }
        else if (view == 'start_round'){
            document.getElementById('admin').innerText = 'Game has been start'
        }
        else if(view == 'end') {
            document.getElementById('admin').innerText = 'Event has been ended'
        }
    }).catch(function (err) {
        console.log(err)
    })
}

function responseHandler() {
	if (httpRequest.readyState === XMLHttpRequest.DONE) {
		document.getElementById('test').innerHTML += JSON.stringify(httpRequest.response);
	}

    location.reload()
}

document.addEventListener('DOMContentLoaded', function() {
	document.querySelectorAll(".endpoint").forEach(function(btn) {
		btn.onclick = () => {
			view = btn.getAttribute('value');
			hit_endpoint(view);
        }
	});
});
</script>
<h1>Event Page</h1>
<div class="container-fluid" style="margin-top:100px;">
<div class="row justify-content-center">
<h1 class="col-12">{{ event.title }}</h1>
	<h2 class="col-12">Welcome, {{ user.user }}</h2>
	<p class="col-12">{{ event.admin }}</p>
    <p class="col-12">{{ event.description }}</p>
</div>
	<div  class="container"style="margin-top: 10px">
	{% if user == event.admin %}
        <div class="col-12 justify-content-center">
            <h1 class="col-12 ">Admin Control</h1>
            <h5 id="admin"></h5>
            <button class="btn btn-primary endpoint" style="padding: 5px" href="#" value="begin">
            Start Event
            </button>
            <button class="btn btn-primary endpoint" style="padding: 5px" href="#" value="end">
            End Game
            </button>
            <button class="btn btn-primary endpoint" style="padding: 5px" href="#" value="add_all">
            Add All Players
            </button>
            <button class="btn btn-primary endpoint" style="padding: 5px" href="#" value="start_round">
            Start Game
            </button>
        </div>
	{% else %}
        <div class="col-12 justify-content-center" style="margin-top: 10px">
            <h1 class="col-12">GamePlay</h1>
            <h6 id="something"></h6>
            {% if join %}
            <button class="btn btn-primary endpoint" style="padding: 5px" href="#" id="addremove" value="add">
            Join Game
            </button>
            {% else %}
            <button class="btn btn-primary endpoint" style="padding: 5px" href="#" id="addremove" value="remove">
            Leave Game
            </button>
            {% endif %}
        </div>
    {% endif %}
	</div>
</div>
{% endblock content %}