{% extends "Home/base.html" %}
{% load staticfiles %}

{% block content %}
<script>

function hit_endpoint(view) {
	event.preventDefault();
			
	httpRequest = new XMLHttpRequest();
	httpRequest.responseType = "json"
	const pk = "{{ event.pk }}";
	const url = "/play/" + pk + "/" + view;

	if (!httpRequest) {
		alert('Giving up :( Cannot create an XMLHTTP instance');
		return false;
	}
	
	httpRequest.onreadystatechange = responseHandler;
	httpRequest.open('GET', url);
	httpRequest.send();
}

function responseHandler() {
	if (httpRequest.readyState === XMLHttpRequest.DONE) {
		document.getElementById('test').innerHTML += JSON.stringify(httpRequest.response);
	}
}

document.addEventListener('DOMContentLoaded', function() {
	document.querySelectorAll(".endpoint").forEach(function(btn) {
		btn.onclick = () => {
			view = btn.getAttribute('value');
			hit_endpoint(view);
        }
	});
});
</script>
<h1>Event Page</h1>
<div class="container-fluid" style="margin-top:100px">
    <h1>{{ event.title }}</h1>
	<h2>Welcome, {{ user.user }}</h2>
    <p>{{ event.description }}</p
	<p>{{event.admin.user}}
	<textarea id="test" disabled></textarea>
	{% if user.user == event.admin %}
		<button class="btn btn-primary endpoint" href="#" value="begin"> 
		Start Game
		</button>
		<button class="btn btn-primary endpoint" href="#" value="end"> 
		End Game
		</button>
		<button class="btn btn-primary endpoint" href="#" value="add_all"> 
		Add All Players
		</button>
		<button class="btn btn-primary endpoint" href="#" value="start_round"> 
		Start Round
		</button>
	{% else %}
		<button class="btn btn-primary endpoint" href="#" value="add">
		Add Self to Game
		</button>
		<button class="btn btn-primary endpoint" href="#" value="remove">
		Remove Self from Game
		</button>
	{% endif %}
</div>
{% endblock content %}
