{% extends "Home/base.html" %}
{% load static %}
{% block content %}
<script>
    const ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://";
    const eventSocket = new WebSocket(
        ws_scheme +  window.location.host +
        '/event/ws');


    eventSocket.onclose = e => {
        console.log('Chat socket closed');
    };

    eventSocket.onmessage = e => {
        const data = JSON.parse(e.data);
        const notification = data['notification'];
        const event = data['event_title'];

        let modal = document.querySelector('#notify-modal');
        let modalText = document.querySelector('#modal-text');
        document.querySelector('.close').onclick = () => {
            modal.style.display = "none";
        }
        window.onclick = event => {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        switch (notification) {
            case 'begin':
                modal.style.display = "block";
                modalText.innerHTML = `A game is starting soon in ${event}`;
                break;
            case 'add_all':
                modal.style.display = "block";
                modalText.innerHTML = `Your event admin has added you to a game in ${event}`;
                break;
            case 'start_round':
                modal.style.display = "block";
                modalText.innerHTML = `The game has begun in ${event}. Redirecting...`;
                setTimeout(() => { window.location.replace("{% url 'game' %}"); }, 5400);
                break;
            case 'end':
                modal.style.display = "block";
                modalText.innerHTML = "Your event's game has ended.";
                break;
            default:
                console.error(`Unknown notification: ${notification}`);
        }
    }
    
function hit_endpoint(view) {
	httpRequest = new XMLHttpRequest();
	const pk = "{{ event.pk }}";
	const url = "/play/" + pk + "/" + view;

	if (!httpRequest) {
		alert('Giving up :( Cannot create an XMLHTTP instance');
		return false;
	}

	{#httpRequest.onreadystatechange = responseHandler;#}
	{#httpRequest.open('GET', url);#}
	{#httpRequest.send();#}
	fetch(url).then(function (res) {
        if(view == 'add' ){
            document.getElementById('something').innerText = 'Successfully joined'
        } else if(view == 'remove'){
            document.getElementById('something').innerText = 'Successfully left game'
        }
        button = document.getElementById('addremove');
        if(view == 'add'){
            button.value = 'remove'
            button.innerText = 'Leave Game'
        }
        else if (view == 'remove'){
            button.value = 'add'
            button.innerText = 'Join Game'
        }
        if (view == 'add_all'){
            document.getElementById('admin').innerText = 'Successfully add all players'
        }
        else if (view == 'begin'){
            document.getElementById('admin').innerText = 'Event has been started'
        }
        else if (view == 'start_round'){
            document.getElementById('admin').innerText = 'Game has been start'
        }
        else if(view == 'end') {
            document.getElementById('admin').innerText = 'Event has been ended'
        }
    }).catch(function (err) {
        console.log(err)
    })
}

function responseHandler() {
	if (httpRequest.readyState === XMLHttpRequest.DONE) {
		document.getElementById('test').innerHTML += JSON.stringify(httpRequest.response);
	}

    location.reload()
}

document.addEventListener('DOMContentLoaded', function() {
	document.querySelectorAll(".endpoint").forEach(function(btn) {
		btn.onclick = () => {
			view = btn.getAttribute('value');
			hit_endpoint(view);
            eventSocket.send(JSON.stringify({
                'event_id': '{{ event.pk }}',
                'event_code': '{{ event.access_code }}',
                'event_title': '{{ event.title }}',
                'notification': view
            }));
        }
	});
});
</script>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Event</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/style.css' %}"/>
    <link rel="shortcut icon" href="#" />
</head>
<div id="notify-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-text"></p>
    </div>
</div>
<h1>Event Page</h1>

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% get_static_prefix %}assets/images/event/e6.jpeg);">
    <div class="bradcumbContent">
        <h3> Admin Control</h3>
        <br>
        <hr>
        <br>
        <h2>Events</h2>
    </div>
</section>

<section class="events-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-12">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img src="{% get_static_prefix %}assets/images/event/e4.jpeg" alt="">
                    </div>
                    <div class="event-text">
                        {% if user == event.admin %}
                        <h4>{{ event.title }}</h4>
                        {% if user == event.admin %}
                        <h4 class="col-12">You are the event admin</h4>
                        {% endif %}
                        <div class="event-meta-data">
                            <a href="#" class="event-place">{{ event.description }}</a>
                            <a href="#" class="event-date">{{ event.event_type }}</a>
                        </div>
                        <h5 id="admin"></h5>
                        <button class="btn btn-primary endpoint" style="padding: 5px" value="begin">Start Event</button>  
                        <button class="btn btn-primary endpoint" style="padding: 5px; margin-left: 10px" value="add_all">Add All Players</button>                        
                        <button class="btn btn-primary endpoint" style="padding: 5px; margin-left: 10px" value="start_round">Start Game</button>
                        <button class="btn btn-primary endpoint" style="padding: 5px; margin-left: 10px" value="end">End Game</button>
                        {% endif %}
                        <br>
                        <br>
                        <hr style="background-color: grey; height: 1px; border: 0; margin-top: 22px">
                        <br>
                        <h4>Game Play</h4>
                        <h6 id="something"></h6>
                        <div class="event-meta-data" style="margin-top: 20px">
                            {% if join %}
                            <button class="btn btn-primary endpoint" style="padding: 5px" href="#" id="addremove" value="add">Join Game</button>
                            {% else %}
                            <button class="btn btn-primary endpoint" style="padding: 5px" href="#" id="addremove" value="remove">Leave Game</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}