{% load static %}
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css/style.css' %}"/>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="#" />
<head></head>
{% if group_number is None %}
<body style="background-color: black">
{% else %}
<body style="background-color:{{color}}">
{% endif %} 
    <div class="container">
        <div class="row">
            <div class="center-box">   
                {% if group_number is None %}
                <img itemprop="image" src="{% get_static_prefix %}assets/images/emoji/none.png">
                <div class="find_group">
                    Opops, you are not in any group
                </div>
                {% else %}
                <img itemprop="image" src="{% get_static_prefix %}assets/images/emoji/{{ group_number }}.png">
                <div class="find_group">
                    Find Your Group! Match emojis with
                    {{ number_of_people }} People
                </div>
                {% endif %}  
                <div class="confirming_button" data-toggle="buttons">
                    <label class="btn btn-lg btn-success active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                        <i class="fa fa-check">    We Are Here</i> 
                    </label>
                    <label class="btn btn-lg btn-danger">
                        <input type="radio" name="options" id="option2" autocomplete="off" action="">
                        <i class="fa fa-spinner">    Done Grouping?</i>
                    </label>          
                </div>   
            </div>
        </div>
    </div>
</body>
<script>
    // const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    // groupSocket = "";
    // if (ws_scheme == "wss") {
    //     groupSocket = new WebSocket(
    //     "wss://" +  window.location.host +
    //     '/group/wss');
    // } else {
    //     groupSocket = new WebSocket(
    //     'ws://' + window.location.host +
    //     '/group/wss');
    // }
    const groupSocket = new WebSocket(
         'ws://' + window.location.host +
        '/group/wss');
    // Updating group complete
    groupSocket.onmessage = e => {
        const data = JSON.parse(e.data);
        const complete = data['complete'];
        if (complete === true) {
            window.location.replace("{% url 'game' %}");
        }
    };

    groupSocket.onclose = e => {
        console.log('Chat socket closed in group.html');
    };

    //Found Group
    document.querySelector('.confirming_button').onclick = e => {
        groupSocket.send(JSON.stringify({
            'complete': true
        }));
    };
</script>
</html>
