{% extends "Home/base.html" %}
{% block content %}
{% load static %}
<body>
    {% if group_id is None %}
    <section class="banner-area relative" id="home", style="background-image: url({% get_static_prefix %}assets/images/animal/none.jpeg); background-size: 100% auto; height: 93vh;">
    {% else %}
    <section class="banner-area relative" id="home", style="background-image: url({% get_static_prefix %}assets/images/animal/{{ group_id }}.jpeg); background-size: 100% auto; height: 93vh;">
    {% endif %}
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-center" style="margin-top: 50px;">
                <div class="banner-content col-lg-6 col-md-12">
                    {% if group_id is None %}
                    <img itemprop="image" src="{% get_static_prefix %}assets/images/emoji/none.png">
                    {% else %}
                    <img itemprop="image" src="{% get_static_prefix %}assets/images/emoji/{{ group_id }}.png">
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
