{% extends "Home/base.html" %}
{% load staticfiles %}
{% block content %}
<script>
  const eventSocket = new WebSocket(
    'ws://' + window.location.host +
    '/event/ws');

  eventSocket.onclose = e => {
    console.log('Chat socket closed');
  };

  eventSocket.onmessage = e => {
    const data = JSON.parse(e.data);
    const notification = data['notification'];
    const event = data['event_title'];

    let modal = document.querySelector('#notify-modal');
    let modalText = document.querySelector('#modal-text');
    document.querySelector('.close').onclick = () => {
      modal.style.display = "none";
    }
    window.onclick = event => {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    switch (notification) {
      case 'start_round':
        modal.style.display = "block";
        modalText.innerHTML = "Next Round!";
        window.location.replace("{% url 'same_group_page' %}");
        break;
      case 'end':
        modal.style.display = "block";
        modalText.innerHTML = "Your event's game has ended. Redirecting...";
        window.location.replace("{% url 'home_creation_page' %}");
        break;
      default:
        console.error(`Unknown notification: ${notification}`);
    }
  }
</script>

<div id="notify-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modal-text"></p>
  </div>
</div>

  <header class="masthead bg-primary text-white">
    <div class="container-fluid">

      <!-- Select Num Players only if not logged in -->
      {% if not user.is_authenticated %}
        <div class="num-box">
          <p class="lead hint">Number of Players</p>
        {% for i in "23456789" %}
          {% if i == "2" or i == "6" %}
            <div class="row row-num">
          {% endif %}
              <div class="num-selector">
                <button class="btn btn-primary num" href="#" value={{i}}>
                  {{ i }}
                </button>
              </div>
          {% if i == "5" or i == "9" %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}

      <div class="row">
        <div class="col"></div>

        <div class="col">
          <h2 class="text-center text-uppercase" id="game-title"></h2>
        </div>

        <div class="col"></div>
      </div>

      <hr class="">

      <div class="row" id="game-text">
        <div>
          <p class="lead game-text"></p>
        </div>
      </div>

      <div class="text-center mt-4">
        <a id="next" href="#">
        </a>
      </div>

    </div>
  </header>

  <script>
  //TODO: Error handling if query unsuccessful
    document.addEventListener('DOMContentLoaded', function() {
      //for a logged in user in a playing event
      if ("{{ is_playing }}") {
        fetch("{% url 'get_user_game' %}")
          .then(res => res.json())
          .then(res => {
            document.getElementById("game-title").innerHTML = res.game;
            document.querySelector(".game-text").innerHTML = res.text;
            document.querySelector("hr").classList.add("star-light");
          });
        return false;
      }
      else {
        //for a user who is not logged in or not in a playing event
        document.querySelectorAll(".num").forEach(function(btn) {
          btn.onclick = () => {
            const players = btn.value;
            load_game(players);
            document.querySelector("#next").innerHTML = "Next Game";
            document.querySelector("#next").className = "btn btn-primary btn-xl";
            document.querySelector("#next").onclick = () => {
              load_game(players);
            }

            return false;
          }
        });
      }

      function load_game(players) {
        let xhttp = new XMLHttpRequest();
        xhttp.responseType = 'json';
        const api = "{% url 'get_game' %}";

        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            const game = this.response;
            document.getElementById("game-title").innerHTML = game.game;
            document.querySelector(".game-text").innerHTML = game.text;
            document.querySelector("hr").classList.add("star-light");
          }
          else {
            document.getElementById("game-title").innerHTML = "Error";
            document.querySelector(".game-text").innerHTML = "Unable to retrieve games";
            document.querySelector("hr").classList.add("star-light");
          }
        }
        xhttp.open("GET", `${api}?nplayers=${players}`, true);
        xhttp.send();
      }
    });
  </script>

{% endblock content %}
